@font-face {
  font-family: 'anb';
  src: url('/assets/anb.otf');
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


main {
  font-size: 35px;
  color: white;
  position: absolute;

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  margin: 30px;
  font-family: sans-serif;
}

a {
  font-family: 'anb';
  color: white;
  text-decoration: underline;
  margin: 40px;
}

#hide {
  font-size: 25px;
}