@font-face {
  font-family: 'psans';
  src: url('/assets/fonts/psans.ttf');
}

@font-face {
  font-family: 'arkit';
  src: url('/assets/fonts/arkit.otf');
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#texts {
  font-size: 35px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 200px;
}

h1 {
  margin: 1vh;
  font-family: 'arkit', sans-serif;
  -webkit-text-stroke: 4px black;
}

button {
  display: block;
  font-family: 'psans', sans-serif;
  font-weight: bolder;
  color: white;
  background-color: rgba(0,0,0,0.7);
  border: 3px rgb(10,10,10) solid;
  width: 30vw;
  height: 9vh;
  font-size: 2vh;
  margin: 0 auto;
  margin-top: 20px;
  transition-duration: 0.3s;
}

button:hover {
  background-color: rgba(230,230,230,0.7);
  border: 3px rgb(100,100,100) solid;
}

button:active {
  background-color: rgba(255,255,255,0.7);
  border: 3px rgb(100,100,100) solid;
  font-size: 3vh;
}

#hide:active {
  font-size: 2.5vh;
}

#fullCanvas {
  position: fixed; 
  top: 0; 
  left: 0;

  width: 100vw;
  height: 100vh;
  background-size: cover; /*This took too long to get working*/

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}