h1 {
    font-style: strong;
    font-family: "Courier New", Courier, monospace;
    font-size: 100px;
    left: 0;
    line-height: 200px;
    margin-top: -350px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: white;
}
p {
    font-family: "Courier New", Courier, monospace;
    left: 0;
    line-height: 200px;
    margin-top: -270px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 22px;
    color:white;
    font-style: oblique;
}
body {
    background-image: linear-gradient(rgb(0, 110, 255), rgb(18, 66, 155));
}
a {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    color: white;
    text-align: center;
    left: 0;
    line-height: 200px;
    margin-top: -200px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}